@model StudyCards.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Student</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentFName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentFName)
            @Html.ValidationMessageFor(model => model.StudentFName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentLName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentLName)
            @Html.ValidationMessageFor(model => model.StudentLName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentPhone)
            @Html.ValidationMessageFor(model => model.StudentPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentEmail)
            @Html.ValidationMessageFor(model => model.StudentEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentPass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentPass)
            @Html.ValidationMessageFor(model => model.StudentPass)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
